<html>
  <head>
    <title>Comedians</title>
  </head>

  <body>
    <h1>Comedians</h1>
    <h3>Average Age: <%= @average_age %></h3>
    <% @comedians.each do |comedian| %>
         <h4> <%= comedian.name %> </h4>
         <p> Age: <%= comedian.age %> </p>
         <p> Number of Specials: <%= comedian.number_of_specials %> </p>
         Specials:
         <% comedian.specials.each do |special| %>
          <p><%= special.name %></p>
         <% end %>
    <% end %>
  </body>
</html>
